<%- include("../../includes/header.ejs",  {title:"login to your account"})%>

<div class="row container mx-auto">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="sign-up-form">
            <div class="p-5 pt-4">
                <h4 class="text-center mb-4">Create A account</h4>

                <form action="/auth/login" method="POST">
                    <div class="mb-3">
                        <label for="email">Enter You Email here</label>
                        <input autocomplete="off" type="email"  name="email" id="email" class="form-control fs-5" />
                        <p class=" <%= errorObj.email?"d-block":"d-none"  %>  text-danger small "> <%= errorObj.email && errorObj.email %> </p>
                    </div>
                    <div class="mb-3">
                        <label for="password">Enter You password here</label>
                        <input autocomplete="off" type="password"  name="password" id="password" class="form-control fs-5" />
                        <p class=" <%= errorObj.password?"d-block":"d-none"  %>  text-danger small "> <%= errorObj.password && errorObj.password %> </p>

                    </div>
                    <div>
                        <p class=" <%= errorStr? " d-block text-danger text-center" : " d-none" %> ">
                            <%= errorStr && errorStr %> </p>
                    </div>
                    <div class="text-center mt-3">
                        <input autocomplete="off" class="p-2 px-5 btn theme-bg-dark text-light" type="submit" value="Submit" />
                    </div>
                </form>

                <p class="text-center my-3">Don't have any Account?<a href="/auth/signup">Create a account</a></p>
            </div>
        </div>
    </div>
</div>

<%- include("../../includes/footer.ejs") %>
