<%- include("../../includes/header.ejs", {title:"create your free account"}) %>

<div class="row container mx-auto">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="sign-up-form">
            <div class="p-5 pt-4">
                <h4 class="text-center mb-4">Create A account</h4>

                <form action="/auth/signup" method="POST">
                    
                    <div class="mb-3">
                        <label for="email">Enter You Email here</label>
                        <input autocomplete="off" type="email"  name="email" id="email" value="<%= value.email ? value.email : "" %> " class="form-control fs-5 <%= error.email ? "is-invalid" : ''  %>  ">
                        <p class="<%= error.email ? "d-block  small text-danger" : "d-none" %> " > <%= error.email && error.email %> </p>
                    </div>
                    <div class="mb-3">
                        <label for="username">Enter You username (must be uniq)</label>
                        <input autocomplete="off" type="text"  name="username" id="username" value="<%= value.username ? value.username : "" %>" class="form-control fs-5 <%= error.username ? "is-invalid" : ''  %>  ">
                        <p class="<%= error.username ? "d-block small text-danger" : "d-none" %> " > <%= error.username && error.username %> </p>
                    </div>
                    <div class="mb-3">
                        <label for="password">Enter You password here</label>
                        <input autocomplete="off" type="password"  name="password" id="password" value="<%= value.password ? value.password : "" %>"  class="form-control fs-5 <%= error.password ? "is-invalid" : ''  %>  ">
                        <p class="<%= error.password ? "d-block small text-danger" : "d-none" %> " > <%= error.password && error.password %> </p>
                    </div>
                    <div class="mb-3">
                        <label for="retypePassword">Confirm Your Password here</label>
                        <input autocomplete="off" type="password"  name="confirmPassword" id="retypePassword" class="form-control fs-5 <%= error.confirmPassword ? "is-invalid" : ''  %>  ">
                        <p class="<%= error.confirmPassword ? "d-block small text-danger" : "d-none" %> " > <%= error.confirmPassword && error.confirmPassword %> </p>
                    </div>
                    <div class="text-center mt-3">
                        <input autocomplete="off" class="p-2 px-5 btn theme-bg-dark text-light" type="submit" value="Submit">
                    </div>
                
                </form>

                <p class="text-center my-3">Already have a account <a href="/auth/login">Login your account</a> </p>
            </div>
        </div>
    </div>
</div>
<div class="p-2 p-md-5"></div>
<div class="p-2 p-md-5"></div>

<%- include("../../includes/footer.ejs") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
    <script src="/script/bootstrap.bundle.js"></script>
    <script src="/script/defaultFrontend.js"></script>
    <script src="/script/FrontendScript.js"></script>
</body>

</html>
