<%- include("../../includes/header.ejs",  {title:"login to your account"})%>

<div class="container">
	<div class="row dashboard-layout">
		<!-- imported sitebar -->
		<%- include("../dashboard/sitebar.ejs") %>

		<!-- =============================== -->
		<!-- dashbarod page content -->
		<div class="col-9 add-post-page dashboard-content">
			<div class="p-4 text-center box mb-4">
				<h2 class="text-secondary">List Of Your Post</h2>
			</div>

            <div class="box">
                <form action="/dashboard/change-password" method="POST" class="p-5">
                
                    <div class="mb-2">
                        <div class="mb-3">
                        	<label  class="text-muted" for="oldPassword">Enter You password here</label>
                        	<input autocomplete="off" type="password" name="oldPassword" id="oldPassword" class="form-control fs-5" />
							<p class="text-danger <%= error.oldPassword ? "d-block" : "d-none" %></p>"> <%= error?.oldPassword%></p>
                        </div>
                        <div class="mb-3">
                        	<label  class="text-muted" for="newPassword">Enter You password here</label>
                        	<input autocomplete="off" type="password" name="newPassword" id="newPassword" class="form-control fs-5" />
							<p class="text-danger <%= error.newPassword ? "d-block" : "d-none" %></p>"> <%= error?.newPassword%></p>
                        </div>
                        <div class="mb-3">
                        	<label  class="text-muted" for="newConfirmPassword">Enter You password here</label>
                        	<input autocomplete="off" type="password" name="newConfirmPassword" id="newConfirmPassword" class="form-control fs-5" />
							<p class="text-danger <%= error.newConfirmPassword ? "d-block" : "d-none" %></p>"> <%= error?.newConfirmPassword%></p>

                        </div>
						
						<p class="text-center text-danger <%= errorStr ? "d-block": "d-none" %> "> <%= errorStr %> </p>

                        <div class="text-center">
                            <button class="theme-bg btn text-light" type="submit"> Change password</button>
                        </div>
                    </div>
                    
                </form>

            </div>


		</div>
	</div>
</div>

<%- include("../../includes/footer.ejs") %>
<script src="/script/bootstrap.bundle.js"></script>
<script src="/script/defaultFrontend.js"></script>
</body>

</html>