<%- include("../../includes/header.ejs",  {title:"login to your account"})%>

<div class="container">
	<div class="row dashboard-layout">
		<!-- imported sitebar -->
		<%- include("../dashboard/sitebar.ejs") %>

		<!-- =============================== -->
		<!-- dashbarod page content -->
		<div class="col-9 add-post-page dashboard-content">
			<div class="p-4 text-center box mb-4">
				<h2 class="text-secondary">List Of Your Post</h2>
			</div>
			<% [...comments].forEach((comment) => { %>


			<div class="mb-5">
                <div class="shadow-3d-1-box" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%= comment._id %>">
                    <div class="d-flex">
                        <div class="flex-grow-1 ms-3 p-4">
                            <h5>Comment for <span class="them-text-light"><%= comment.post.title %></span></h5>
                    	</div>
                        <div class="flex-shrink-0">
                            <img src="<%= comment.post.thumbnail %>" style="width: 100px;height: 100%;object-fit: cover;"  alt="...">
                        </div>
                    </div>
                </div>

                <div class="collapse shadow-3d-1-inset p-2 px-4" id="collapseExample<%= comment._id %>">
                	<div class="comment-card border w-100 box">
                        <p class="text-end"><a href="/post/<%= comment.post._id %>" class="text-decoration-none text-muted">View Post</a></p>
                		<div class="d-flex">
                			<div class="flex-shrink-0">
                				<a href="/user/<%= comment?.user?._id %> "><img class="comment-image" src="<%=comment.user.profilePic%>" alt="<% comment.username %>'s Comments' "></a>
                			</div>
                			<div class="flex-grow-1 ms-3 comment-body">
                				<h5><%= comment.user.username %> </h5>
                				<p class="text-muted my-1"> <%=comment.body %> </p>
                				<p class="text-muted small mb-1">
                					<a class="" data-bs-toggle="collapse" href="#collapse<%= comment._id %>" role="button">Leave a Reply </a>

                				</p>
                			</div>
                		</div>

                		<div data-comment-id="<%= comment._id %> " id="reply-holder" class=" ps-2 ps-md-5">
                			<div class="collapse" id="collapse<%= comment._id %>">
                				<input type="text" id="reply-input" placeholder="prese enter to reply" class="form-control form-controll-sm">
                			</div>
                			<% if (comment?.replies.length > 0) { %>
                			<% [...comment?.replies].forEach(reply => { %>

                			<div class="reply-card">
                				<div class="d-flex">
                					<div class="flex-shrink-0">
                						<a href="/user/<%= reply?.user?._id %> "><img class="reply-image rounded rounded-circle" src="<%=reply.user.profilePic%>" alt="<% comment.username %>'s Comments' "></a>
                					</div>
                					<div class="flex-grow-1 ms-3 comment-body">
                						<h5><%= reply.user.username %> </h5>
                						<p class="text-muted my-1"> <%=reply.body %> </p>
                					</div>
                				</div>
                			</div>


                			<% }) %>
                			<% } %>

                		</div>

                	</div>
                </div>
            </div>



			<% }) %>




		</div>
	</div>
</div>

<%- include("../../includes/footer.ejs") %>
<script src="/script/bootstrap.bundle.js"></script>
<script src="/script/defaultFrontend.js"></script>
<script src="/script/comment.js"></script>
</body>

</html>