<%- include("../../includes/header.ejs",{title:"welcome Home page"})%>

<div class="container">
	<div class="row dashboard-layout">
		<!-- imported sitebar -->
		<%- include("../dashboard/sitebar.ejs") %>

		<!-- =============================== -->
		<!-- dashbarod page content -->
		<div class="col-9 col-md-8 col-lg-7 mx-auto add-post-page dashboard-content">

			<% if (posts.length === 0) { %>

			<div class="box p-5 text-center mt-4">
				<img src="/images/nothing-to-show.svg" class="w-50 mb-5" alt="">
				<h3>Ops... Here is nothing to show</h3>
				<div class="p-3"></div>
			</div>
			<% } else { %>

                <div class="p-4 box mb-3">Showing Result for " <%= searchStr %> " </div>


			<% posts.forEach(post => { %>
			<div class="card box my-5 home-post-card" style="width:100%">
				<div class="card-body">
					<a href="/post/<%= post._id %>" class="text-decoration-none text-dark">
						<h4 class="card-title"><%= post.title.substr(0,70)%>... </h4>
						<p class="card-text fs-5 text-muted"><%= truncate(post.body) %>... </p>
					</a>
				</div>
				<div class="p-2 text-end">
					<p class="small text-muted mb-0"> <%= blogCreatedMoment(post.createdAt)%> , &nbsp; posted by
						<%=post.author.username%> &nbsp; , <%= post.readtimes %> </p>
				</div>
				<div class="w-100 card-img-cover">
					<img src="<%= post.thumbnail ? post.thumbnail : "/images/blog-placeholder.png" %>" class="w-100 " alt="">
					<% if (user) { %>
					<div id="" class="icons-area">
						<div id="bookmark-parent" data-post-id="<%= post._id %> " class="icon-bookmark">

							<% if (profile.bookmarks.includes(post._id)) { %>
							<span class="iconify-inline" data-icon="clarity:bookmark-solid"></span>
							<h6 class="add-bookmark-text">added</h6>
							<% } else {%>
							<span class="iconify-inline" data-icon="bytesize:bookmark"></span>
							<h6 class="add-bookmark-text">Add to bookmark</h6>
							<% }  %>
						</div>
					</div>
					<% } %>

				</div>
			</div>

			<% }) %>

			<%  } %>

			<% console.log(currentPage) %>

			<!-- pagination -->
			<% if (totalPage >=1) { %>
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item <%= currentPage ===1 && "disabled" %>">
						<a class="page-link " href="/search/<%=`?search=${searchStr}&page=${currentPage -1}`%>" tabindex="-1" aria-disabled="true"><small>Previous</small></a>
					</li>
					<% for( let i = 1; i <= totalPage; i++ ) { %>
					<li class="page-item  <%=currentPage ===i && "active"%> "><a class="page-link " href="/search/?<%=`search=${searchStr}&page=${i}`%> "> <%= i %> </a></li>
					<% } %>
					<li class="page-item <%= currentPage === totalPage && "disabled" %> ">
						<a class="page-link" href="/search/<%=`?search=${searchStr}&page=${currentPage +1}`%>"><small>Next</small></a>
					</li>
				</ul>
			</nav>
			<% } %>
		</div>
	</div>

</div>





<%- include("../../includes/footer.ejs") %>
<script src="/script/bootstrap.bundle.js"></script>
<script src="/script/defaultFrontend.js"></script>
<script src="/script/bookmark.js"></script>
</body>

</html>